{% block node %}
                <div class="{{ titreCss }}">
                    <img src="{{ asset('bundles/jarryubu/images/node.png') }}"/>
                    <h3 class="centrer">LISTE DES NODES</h3>
                </div>
                <div class="{{ containerCss }}"> 
                    {% for node in entity.nodes %}
                        <a href="{{ path('node_show', { 'id': node.id, 'idPlace': entity.place.id, 'idZone': entity.id }) }}">
                            <button class="{{ carreClicCss }}">
                                <img src="{{ asset('bundles/jarryubu/images/node.png') }}"/>
                                <h4>{{ node.name | replace({ ("_") : " "}) }}</h4>
                            </button>
                        </a>
                    {% endfor %}
                    {% if app.user == entity.place.owner %}
                    <a href="{{ path('node_new', { 'idPlace': entity.place.id, 'idZone': entity.id }) }}">
                        <button class="{{ carreNewCss }}">
                            <h4>Créer une nouvelle node</h4>
                        </button>
                    </a>
                    {% endif %}
                </div>
      
    {% endblock %}
