{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block title %}
    UBU see a Node
{% endblock %}

{% block titre %}
    UBU Node
{% endblock %}

{% block status %}
    Nom DU TYPE
{% endblock %}

{% block content -%}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            <div class="{{ titreCss }}">
                <img src="{{ asset('bundles/jarryubu/images/node.png') }}"/>
                <h3 class="centrer">{{ entity.name|upper }}</h3>
            </div>
            <div class="{{ containerCss }}">
                <div class="{{ carreTextCss }}">
                    <h3>NOM</h3>
                    <p>{{ entity.name }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>IP</h3>
                    <p>{{ entity.ip }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>Type</h3>
                    <p>{{ entity.nodeType }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>Capabilities</h3>
                    <ul>
                        {% for capability in entity.capabilities %}
                            <li>{{ capability.capaName }}</li>
                            {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="{{ containerCss }}">

                <a href="{{ path('zone_show' , { 'id': entity.zone.id, 'idPlace': entity.zone.place.id })  }}" class="{{ btnCss }}">
                    LISTE DES NODES
                </a>

                <a href="{{ path('node_edit', { 'id': entity.id,  'idZone': entity.zone.id, 'idPlace': entity.zone.place.id }) }}" class="{{ btnCss }}">
                    ÉDITER {{ entity.name }}
                </a>


                {{ form(delete_form) }}
            </div>
            <div class="{{ titreCss }}">
                <img src="{{ asset('bundles/jarryubu/images/stat.png') }}"/>
                <h3 class="centrer">Statistiques de {{ entity.name|upper }}</h3>
            </div>
            <div class="{{ containerCss }}">
                

                <div id="linechart" style="min-width: 100%; height: 220px;"></div>
            </div>
            
        </div>
    </main>
{% endblock %}

{% block jscrip2 %}
    {{ parent() }}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
    <script src="{{ asset('bundles/jarryubu/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
                    {{ chart(linechart) }}
                </script>
{% endblock jscrip2 %}
