{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block navigationZone %}
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navDarkCss }}">LOGOUT</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navDarkCss }}">Mentions légales</li></a>
{% endblock %}

{% block title %}
    UBU see your Places
{% endblock %}

{% block titre %}
    UBU Places
{% endblock %}

{% block status %}
    Nom DU TYPE
{% endblock %}

{% block content %}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            <div class="{{ titreCss }}">
                <h3>LISTE DES PLACES</h3>
            </div>
                
            <div class="{{ containerCss }}">
                {% for entity in entities %}
                    <a href="{{ path('ubu_place_show', { 'id': entity.id }) }}">
                    <button class="{{ carreClicCss }}">
                        <h4>{{ entity.name }}</h4>
                        <p>{{ entity.address }}<br/>{{ entity.zip }} {{ entity.city|upper }}</p>
                    </button>
                    </a>
                {% endfor %}
                <a href="{{ path('ubu_place_new') }}">
                    <button class="{{ carreNewCss }}">
                        <h4>Créer une nouvelle</h4>
                    </button>
                </a>
            </div>
        </div>
    </main>
    {% endblock %}
