{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block content %}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--purple-900 mdl-color-text--purple-200 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid center">
                <h3>LISTE DES PLACES</h3>
            </div>
                <div class="demo-charts fond2 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid fond2">
                    <table class="records_list table fond2">
                        <thead>
                            <tr class=" mdl-color--indigo-400 mdl-color-text--indigo-100">
                                <th class="table_20">Name</th>
                                <th class="table_20">Address</th>
                                <th class="table_20">City</th>
                                <th class="table_20">Zip</th>
                                <!--th>Secretcode</th>
                                <th>Ormlink</th>
                                <th>Gps_lat</th>
                                <th>Gps_long</th>
                                <th>Gps_alt</th>
                                <th>Compas_x</th>
                                <th>Compas_y</th>
                                <th>Compas_z</th>
                                <th>Id</th-->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody  class="blanc_text">
                        {% for entity in entities %}
                            <tr class="fond2 mdl-color-text--indigo-900">
                                <td><a href="{{ path('ubu_place_show', { 'id': entity.id }) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">{{ entity.name }}</a></td>
                                <td>{{ entity.address }}</td>
                                <td>{{ entity.city }}</td>
                                <td>{{ entity.zip }}</td>
                                <!--td>{{ entity.secretCode }}</td>
                                <td>{{ entity.ormLink }}</td>
                                <td>{{ entity.gpslat }}</td>
                                <td>{{ entity.gpslong }}</td>
                                <td>{{ entity.gpsalt }}</td>
                                <td>{{ entity.compasx }}</td>
                                <td>{{ entity.compasy }}</td>
                                <td>{{ entity.compasz }}</td>
                                <td>{{ entity.id }}</td-->
                                <td>
                                <!--ul>
                                    <li>
                                        <a href="{{ path('ubu_place_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li-->
                                        <a href="{{ path('ubu_place_edit', { 'id': entity.id }) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">ÉDITER</a>
                                    <!--/li>
                                </ul-->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="demo-charts fond2 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                    <a href="{{ path('ubu_place_new') }}"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">
                        Créer une nouvelle place
                    </a>
                </div>
        </div>
    </main>
    {% endblock %}
