{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block navigationZone %}
    <a href="{{ path('fos_user_security_logout') }}"><li class="{{ navDarkCss }}"><img src="{{ asset('bundles/jarryubu/images/log-mini.png') }}"/>LOGOUT</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navCss }}">Page d'accueil</li></a>
    <a href="{{ path('jarry_ubu_mentions') }}"><li class="{{ navDarkCss }}">Mentions légales</li></a>
{% endblock %}

{% block title %}
    UBU see your Places
{% endblock %}

{% block titre %}
    UBU Places
{% endblock %}



{% block content %}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            <div class="{{ titreCss }}">
                <img src="{{ asset('bundles/jarryubu/images/house.png') }}"/>
                <h3 class="centrer">LISTE DES PLACES</h3>
            </div>

            <div class="{{ containerCss }}">
                {% for entity in entities %}
                    <a href="{{ path('ubu_place_show', { 'id': entity.id }) }}">
                        <button class="{{ carreClicCss }}">
                            <img src="{{ asset('bundles/jarryubu/images/house.png') }}"/>
                            <h4>{{ entity.name }}</h4>
                            <p>{{ entity.address }}<br/>{{ entity.zip }} {{ entity.city|upper }}</p>
                        </button>
                    </a>
                {% endfor %}
                <a href="{{ path('ubu_place_new') }}">
                    <button class="{{ carreNewCss }}">
                        <img src="{{ asset('bundles/jarryubu/images/house.png') }}"/>
                        <h4>Créer une nouvelle Place</h4>
                    </button>
                </a>
            </div>
            <div class="{{ containerCss }}">

                        <a href="{{ path('jarry_ubu_homepage') }}" class="{{ btnCss }}">
                            Retour à l'accueil
                        </a>
                        <a href="{{ path('ubu_place_join') }}"  class="{{ btnCss }}">
                            Rejoindre un monde
                        </a>
                    
            </div>
        </div>
    </main>
{% endblock %}
