{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block title %}
    UBU create a Place
{% endblock %}

{% block titre %}
    UBU création
{% endblock %}

{% block status %}
    Nom DU TYPE
{% endblock %}

{% block navigationZone %}
    <a href="{{ path('fos_user_security_logout') }}"><li class="mdl-menu__item mdl-color--indigo-900 mdl-color-text--purple-100"><img src="{{ asset('bundles/jarryubu/images/log-mini.png') }}"/>LOGOUT</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="mdl-menu__item mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-900">Page d'accueil</li></a>
    <a href="{{ path('ubu_place') }}"><li class="mdl-menu__item mdl-color--indigo-100 mdl-color-text--purple-900"><img src="{{ asset('bundles/jarryubu/images/house-mini.png') }}"/>Liste des places</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="mdl-menu__item mdl-color--indigo-900 mdl-color-text--purple-100">Mentions légales</li></a>
{% endblock %}

{% block content -%}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            <div class="{{ titreCss }}">
                <img src="{{ asset('bundles/jarryubu/images/house.png') }}"/>
                <h3 class="centrer">Créer une place</h3>
            </div>
            <div class="{{ containerCss }}">
                <div class="form">
                    {{ form(form, { 'attr': {'class': 'formulaire'} } ) }}
                </div>
            </div>
            <div class="{{ containerCss }}">
                
                        <a href="{{ path('ubu_place') }}" class="{{ btnCss }}">
                            Retour à la liste
                        </a>
            </div>
        </div>
    </main>
    
{% endblock %}
