{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block title %}
    UBU see a Place
{% endblock %}

{% block titre %}
    UBU Place
{% endblock %}

{% block status %}
    Nom DU TYPE
{% endblock %}

{% block navigationZone %}
    <a href="{{ path('fos_user_security_logout') }}"><li class="{{ navDarkCss }}"><img src="{{ asset('bundles/jarryubu/images/log-mini.png') }}"/>LOGOUT</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navCss }}">Page d'accueil</li></a>
    <a href="{{ path('ubu_place') }}"><li class="{{ navCss }}"><img src="{{ asset('bundles/jarryubu/images/house-mini.png') }}"/>Liste des places</li></a>
    <a href="{{ path('ubu_place_edit', { 'id': entity.id }) }}"><li class="{{ navCss }}"><img src="{{ asset('bundles/jarryubu/images/house-mini.png') }}"/>Editer la place {{entity.name }}</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navDarkCss }}">Mentions légales</li></a>
{% endblock %}

{% block content -%}
<main class="mdl-layout__content fond">
    <div class="mdl-grid demo-content">
        <div class="{{ titreCss }}">
            <img src="{{ asset('bundles/jarryubu/images/house.png') }}"/>
            <h3 class="centrer">{{ entity.name|upper }}</h3>
        </div>
            <div class="{{ containerCss }}">
                <div class="{{ carreTextCss }}">
                    <h3>Adresse</h3>
                    <p>{{ entity.address }}<br/>
                        {{ entity.zip }} {{ entity.city|upper }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>GPS</h3>
                    <p>LONG : {{ entity.gpslat }}<br/>
                    LAT  : {{ entity.gpslong }}<br/>
                    ALT  : {{ entity.gpslat }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>COMPASS</h3>
                    <p>X : {{ entity.compasx }}<br/>
                    Y : {{ entity.compasy }}<br/>
                    Z : {{ entity.compasz }}</p>
                </div>
                <div class="{{ carreTextCss }}">
                    <h3>CODE SECRET</h3>
                    <p>{{ entity.secretCode }}</p>
                </div>
            </div>
            {% include "JarryUbuBundle:Zone:index.html.twig" %}
            
            <div class="{{ containerCss }}">
                
                        <a href="{{ path('ubu_place') }}" class="{{ btnCss }}">
                            LISTE DES PLACES
                        </a>
              
                        <a href="{{ path('ubu_place_edit', { 'id': entity.id }) }}"  class="{{ btnCss }}">
                            ÉDITER {{ entity.name }}
                        </a>
                
                    
                   {{ form(delete_form) }}
            </div>
    </div>
</main>
{% endblock %}
