{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block title %}
    UBU edit a Zone
{% endblock %}

{% block titre %}
    UBU édition
{% endblock %}

{% block status %}
    Nom DU TYPE
{% endblock %}

{% block navigationZone %}
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navDarkCss }}"><img src="{{ asset('bundles/jarryubu/images/log-mini.png') }}"/>LOGOUT</li></a>
    <a href="{{ path('ubu_place') }}"><li class="{{ navCss }}"><img src="{{ asset('bundles/jarryubu/images/house-mini.png') }}"/>Liste des places</li></a>
    <a href="{{ path('ubu_place') }}{{ entity.place.id }}"><li class="{{ navCss }}"><img src="{{ asset('bundles/jarryubu/images/house-mini.png') }}"/>Retour à la Place {{ entity.place.name }}</li></a>
     <a href="{{ path('zone_show', { 'id' : entity.id }) }}"><li class="{{ navCss }}"><img src="{{ asset('bundles/jarryubu/images/zone-mini.png') }}"/>Visualiser la zone {{ entity.name }}</li></a>
    <a href="{{ path('jarry_ubu_homepage') }}"><li class="{{ navDarkCss }}">Mentions légales</li></a>
{% endblock %}

{% block content -%}
<main class="mdl-layout__content fond">
    <div class="mdl-grid demo-content">
        <div class="{{ titreCss }}">
            <img src="{{ asset('bundles/jarryubu/images/zone.png') }}"/>
            <h3 class="centrer">Editer {{ entity.name|upper  | replace({ ("_") : " "}) }}</h3>
        </div>
            <div class="{{ containerCss }}">
                <div class="form">
                    {{ form(edit_form, { 'attr': {'class': 'formulaire'} } ) }}
                </div>
            </div>    
            <div class="{{ containerCss }}">
                
                        <a href="{{ path('zone') }}" class="{{ btnCss }}">
                            LISTE DES ZONES
                        </a>
              
                        <a href="{{ path('zone_show', { 'id': entity.id }) }}"  class="{{ btnCss }}">
                            VISUALISER {{ entity.name }}
                        </a>
                
                    {{ form_widget(delete_form.submit, { 'attr': {'class': 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn2', 'type': 'button'} }) }}
                   
            </div>
    </div>
</main>
{% endblock %}
