{% block zone %}
    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
                <div class="demo-charts mdl-color--purple-400 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid fond2">
                    <h3>Liste des zones</h3>
                    <table class="records_list table">
                        <thead>
                            <tr class=" mdl-color--indigo-400 mdl-color-text--indigo-100">
                                <th class="table_20">Name</th>
                                <th class="table_30">Intérieur/Extérieur</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody  class="blanc_text">
                        {% for entity in entity.zones %}
                            <tr class="mdl-color--purple-400 mdl-color-text--indigo-100">
                                <td><a href="{{ path('zone_show', { 'id': entity.id }) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">{{ entity.name | replace({ ("_") : " "}) }}</a></td>
                                <td class="centrer">{{ entity.getInOutStatus }}</td>
                                <td class="centrer">
                                    <a href="{{ path('zone_edit', { 'id': entity.id }) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">ÉDITER</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="demo-charts fond2 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                    <a href="{{ path('zone_new') }}"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">
                        Créer une nouvelle zone
                    </a>
                </div>
        </div>
    </main>
    {% endblock %}
