{% block zone %}
    
                <div class="{{ titreCss }}">
                    <h3 class="centrer">LISTE DES ZONES</h3>
                </div>
                <div class="{{ containerCss }}"> 
                    {% for entity in entity.zones %}
                        <a href="{{ path('zone_show', { 'id': entity.id }) }}">
                            <button class="{{ carreClicCss }}">
                                <h4>{{ entity.name | replace({ ("_") : " "}) }}</h4>
                                <p>{{ entity.getInOutStatus ? 'Extérieur' : 'Intérieur' }}</p>
                            </button>
                        </a>
                    {% endfor %}
                    <a href="{{ path('zone_new') }}">
                        <button class="{{ carreNewCss }}">
                            <h4>Créer une nouvelle zone</h4>
                        </button>
                    </a>
                </div>
      
    {% endblock %}
