<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                UBU-Soft
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block style %} 
            <link rel="stylesheet" href="{{ asset('bundles/jarryubu/css/style.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/jarryubu/material/material.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/jarryubu/material/styles.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block jscrip %}
        {% endblock %}
    </head>
    <body class="mdl-color--grey-900">
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            
            {# bandeau avec navigation et diverses options #}
            <header class="demo-header mdl-layout__header mdl-color--deep-purple-900 mdl-color-text--deep-purple-100">
                
                <div class="mdl-layout__header-row">
                    
                    <span class="mdl-layout-title">UBU-Home</span>
                    
                    <div class="mdl-layout-spacer"></div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                       <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                         <i class="material-icons">search</i>
                       </label>
                       <div class="mdl-textfield__expandable-holder">
                         <input class="mdl-textfield__input" type="text" id="search">
                         <label class="mdl-textfield__label" for="search">Rechercher...</label>
                       </div>
                    </div>
                    
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="options_link">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-color--purple-900 mdl-color-text--purple-100" for="options_link">
                        <li class="mdl-menu__item mdl-color-text--purple-100">Aide</li>
                        <li class="mdl-menu__item mdl-color-text--purple-100">Places</li>
                        <li class="mdl-menu__item mdl-color-text--purple-100">Zones</li>
                        <li class="mdl-menu__item mdl-color-text--purple-100">Nodes</li>
                        <li class="mdl-menu__item mdl-color-text--purple-100">Contact</li>
                        <li class="mdl-menu__item mdl-color-text--purple-100">Mentions légales</li>
                    </ul>
                </div>
              
            </header>
            
            {# informations sur la gauche #}
            <div class="demo-drawer mdl-layout__drawer mdl-color--purple-900 mdl-color-text--purple-50">
                <header class="demo-drawer-header">
                    <h4 class=" mdl-color-text--indigo-100">Déconnecté</h4>
                    <img src="{{ asset('bundles/jarryubu/images/logo.png') }}" class="demo-avatar" /> 
                </header>
                <div class="side_options">
                    <span class="mdl-switch__label mdl-color-text--indigo-100">Aide</span>
                    <div class="side_right">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                            
                            <input type="checkbox" id="switch-2" class="mdl-switch__input flotte">
                        </label>
                    </div>
                </div>
                 <div class="side_options">
                     <span class="mdl-switch__label mdl-color-text--indigo-100">Langues</span>
                    <div class="side_right">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon flotte" id="language_link">
                            <i class="material-icons">more_vert</i>

                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-color--purple-900 mdl-color-text--purple-100" for="language_link">
                            <li class="mdl-menu__item mdl-color-text--purple-100">Français</li>
                            <li class="mdl-menu__item mdl-color-text--purple-100">English</li>
                            <li class="mdl-menu__item mdl-color-text--purple-100">Deutch</li>
                            <li class="mdl-menu__item mdl-color-text--purple-100">Spanish</li>
                            <li class="mdl-menu__item mdl-color-text--purple-100">Italian</li>
                            <li class="mdl-menu__item mdl-color-text--purple-100">Chinese</li>
                        </ul>
                    </div>
                 </div>
               
                <div class="mdl-color--indigo-400 mdl-color-text--indigo-100">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="user" pattern="[A-Z,a-z, ]*">
                        <label class="mdl-textfield__label mdl-color-text--indigo-100" for="user">LOGIN</label>
                        <span class="mdl-textfield__error">Letters and spaces only</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="user" pattern="[A-Z,a-z, ]*">
                        <label class="mdl-textfield__label mdl-color-text--indigo-100" for="user">PASSWORD</label>
                        <span class="mdl-textfield__error">Letters and spaces only</span>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--purple-900 mdl-color-text--indigo-100 side_button">
                        VALIDATE
                    </button>
                </div>
                <div class="mdl-color--purple-900">
                    <p class="side_p">Create your own account and discover how amasing is UBU Service!</p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-900 side_button">
                        CREATE
                    </button>
                </div>       
            </div>
                
            {# la page #}
            <main class="mdl-layout__content mdl-color--purple-800">
                <div class="mdl-grid demo-content">
                          
                          <div class="demo-charts mdl-color--deep-purple-900 mdl-color-text--deep-purple-300 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                              <h3>AIDE</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                          </div>
                          <div class="demo-charts mdl-color--indigo-400 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-900 mdl-color-text--indigo-100 appli_button">
                                  <h4>NEW PLACE</h4>
                              </button>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--indigo-900 appli_button2">
                                  <h4>Ma Maison</h4>
                              </button>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--indigo-900 appli_button2">
                                  <h4>Ma Bicoque</h4>
                              </button>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--indigo-900 appli_button2">
                                  <h4>Mon Chateau</h4>
                              </button>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--indigo-900 appli_button2">
                                  <h4>Ma Villa</h4>
                              </button>
                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--indigo-900 appli_button2">
                                  <h4>Ma Résidence</h4>
                              </button>
                          </div>
                          
                   
                </div>
            </main>
        </div>
            
        {% block content %}
        {% endblock %}
        
        {% block jscrip2 %}
            <script src="{{ asset('bundles/jarryubu/material/material.min.js') }}"></script>
        {% endblock %}
    </body>
</html>    
